.container {
    display: flex;
}

.container2 {
    display: flex;
}

.box1 img {
width: 420px;
height: 200px;
padding-right: 10px;

}

.box2 img {
width: 420px;
height: 200px;
padding-right: 10px;
}

.box3 img {
width: 420px;
height: 200px;
padding-right: 10px;
}


.box4 img {
width: 250px;
height: 200px;
padding-right: 10px;
padding-top: 5px;
}

.box5 img {
width: 250px;
height: 200px;
padding-right: 10px;
padding-top: 5px;
}

.box6 img {
width: 250px;
height: 200px;
padding-right: 10px;
padding-top: 5px;
}

.box7 img {
width: 250px;
height: 200px;
padding-right: 10px;
padding-top: 5px;
}

.box8 img {
width: 250px;
height: 200px;
padding-right: 10px;
padding-top: 5px;
}